%h6{class: "p-1"} コメントリスト
.side__comments{class: "mt-1"}
  = render "comments/new"
  .comment__list{class: "d-flex flex-column align-items-center"}
    - @calendar.comments.order(:created_at).each do |comment|
      .comment__container{class: "p-1 mb-1 rounded overflow-hidden"}
        .comment__content{class: "d-flex justify-content-between"}
          .comment__top{class: "d-flex flex-column"}
            .user_name{class: "d-flex"}
              %div= comment.user.name
              %div さん
            .comment__time{class: "d-flex"}
              = comment.created_at.strftime("%H:%M")
          .comment__done
            = button_to calendar_comment_path(comment.calendar_id, comment.id), method: :delete, class: "mr-1 btn comment__trash--btn" do
              =icon('fas', 'trash-alt')
        .comment__text{class: "text-nowrap"}
          = comment.text