.AccountPage
  .AccountPage__title
    %h3 アカウントの編集
    = link_to "ログアウト", destroy_user_session_path, method: :delete
    = link_to "戻る", :back
  .AccountPage__form
    = form_with model: [@calendar, current_user], local: true do |f|
      .FormField
        .FormField__label
          = f.label :name, '名前'
        .FormField__input
          = f.text_field :name, autofocus: true
      .FormField
        .FormField__label
          = f.label :email, 'メールアドレス'
        .FormField__input
          = f.email_field :email
      = f.submit "更新"