#mask__edit.hidden
#event__edit.hidden
  .event__contents
    .close__btn
      %butto#event__close--edit
        =icon('fas', 'window-close')
    %h3 予定の編集
    = form_with model: [@calendar, @event], id: "event__form--edit", local: true do |f|
      -if @event.errors.any?
        = render "events/error_messages"
      .formField
        = f.text_field :title, placeholder: 'タイトルを入力してください'

      .formField#dayAndTime__edit

      .formField
        %input#event_all_day_edit{type:"checkbox", name:"event[all_day]", value: "false"}
        = f.label :all_day_edit, '終日'

      .formField
        %select#event_color_edit{name:"event[color]"}
        #hidden__select--edit

      .formField__noFlex
        .formField__content
          .formField__label
            = f.label :content, '【内容】'
          .formField__input
            = f.text_area :content

      .formSubmit
        = f.submit "変更", class: 'event__submit'