#mask.hidden
#event.hidden
  .event__contents
    .close__btn
      %butto#event__close--new
        =icon('fas', 'window-close')
    %h3 予定の作成
    = form_with model: [@calendar, @event], id: "event__form--new", local: true do |f|
      -if @event.errors.any?
        = render "events/error_messages"
      .formField
        = f.text_field :title, placeholder: 'タイトルを入力してください'

      .formField#dayAndTime
        .formField__day
          = f.datetime_field :start_time
        .form__connect
          &sim;
        .formField__day
          = f.datetime_field :end_time
      
      .formField#dayOnly
        .formField__day
          = f.date_field :start_time
        .form__connect
          &sim;
        .formField__day
          = f.date_field :end_time

      .formField
        = f.check_box :all_day, {}, true, false
        = f.label :all_day, '終日'

      .formField
        = f.select :color, {}
        #hidden__select

      .formField__noFlex
        .formField__content
          .formField__label
            = f.label :content, '【内容】'
          .formField__input
            = f.text_area :content

      .formSubmit
        = f.submit "登録", class: 'event__submit'