#mask.hidden
#event.hidden{class: "p-5 container"}
  .colse__btn{class: "mb-3"}
    %butto#event__close--new
      =icon('fas', 'window-close')
  %h3{class: "font-weight-bold"} 予定の作成
  = form_with model: [@calendar, @event], id: "event__form--new", local: true do |f|
    -if @event.errors.any?
      = render "events/error_messages"
    .formField{class: "mb-3"}
      .formField__input
        = f.text_field :title, class: 'form-control', placeholder: 'タイトルを入力してください'

    .formField{class: "mb-3 d-flex justify-content-start"}
      .formField__startDay
        .formField__input
          = f.date_field :start_day
      .form__connect{class: "mx-2"}
        &sim;
      .formField__endDay
        .formField__input
          = f.date_field :end_day

    .formField{class: "mb-3 d-flex justify-content-start"}
      .formField__startTime
        .formField__input
          = f.time_field :start_hour
      .form__connect{class: "mx-4"}
        &sim;
      .formField__endTime
        .formField__input
          = f.time_field :end_hour

    .formField{class: "mb-3 d-flex justify-content-start"}
      .formField__content
        .formField__label
          = f.label :content, '内容'
        .formField__input
          = f.text_area :content, size: "50×40", class: "form-control"

    .formSubmit{class: "text-left"}
      = f.submit "登録", class: 'btn btn-primary event__submit'