.header{class: "px-3 text-white "}
  %nav{class: "h-100 d-flex justify-content-between align-items-center"}
    .headerLeft{class: "d-flex"} 
      .tittle
        Schedule share
      .user{class: "ml-5"}
        .user_edit
          = link_to edit_user_path(current_user), class: 'text-decoration-none' do
            = icon('fas', 'user-edit')
    .headerRight{class: "d-flex align-items-center"}
      .calendar__menu{class: "d-flex align-items-center"}
        #calendar__add
          = link_to '#', class: 'text-decoration-none' do
            = icon('fas', 'calendar-plus')
        #calendar__edit{class: "mx-3"}
          = link_to edit_calendar_path(params[:id]), class: 'text-decoration-none' do
            = icon('fas', 'calendar-check')
        .calendar__list
          %button#calendar__btn{class: "btn"}
            =icon('fas', 'calendar-alt')
            %ul#calendar__name{class: "bg-light"}
              - current_user.calendars.each do |calendar|
                %li{class: "d-block"}
                  = link_to calendar.name, calendar_path(calendar.id), class: "btn d-block"
      .member__list
        #member__btn{class: "btn"}
          =icon('fas', 'users')
          %ul#member__name{class: "bg-light"}
            - @calendar.users.each do |user|
              %li
                = link_to user.name, '#', class: "btn d-block"