.header
  %nav
    .header__left
      .title
        -if @calendar
          = @calendar.name
      .user
        .user__edit
          -if @calendar
            = link_to edit_user_path(current_user.id, calendarPath: @calendar.id), class: 'user__edit--icon' do
              = icon('fas', 'user-edit')
          -else
            = link_to edit_user_path(current_user.id), class: 'user__edit--icon' do
              = icon('fas', 'user-edit')
          %span.pop
            ユーザー編集
      .user__name
        = current_user.name + "  さんのカレンダー"