.menu
  .left__items
    .event__item
      #event__btn
        = icon('fas', 'edit')
        %span.pop 予定作成
    .comment__item
      #comment__btn
        = icon('fas', 'comment-alt')
        %span.pop コメント作成

  .right__items
    .calendar__menu
      #calendar__add
        = link_to new_calendar_path do
          = icon('fas', 'calendar-plus')
        %span.pop カレンダーの新規作成
      #calendar__edit
        = link_to edit_calendar_path('#') do
          = icon('fas', 'calendar-check')
        %span.pop カレンダーの編集
      .calendar__change
        %span.pop カレンダーの切替
        #calendar__btn
          =icon('fas', 'calendar-alt')
          %ul#calendar__name
            - current_user.calendars.each do |calendar|
              %li
                = link_to calendar.name, calendar_path(calendar.id, calendarPath: calendar.id)
      .change__contents{class: "d-flex justify-content-around"}
        #today{class: "btn btn-light"}
          今日
        #change__year{class: "btn btn-light"}
          年
        #change__month{class: "btn btn-light"}
          月
        #previous
          = icon('fas', 'caret-square-left')
        #next{class: "mx-3"}
          = icon('fas', 'caret-square-right')
        #yearMonth__btn{class: "btn btn-light"}
    .member__menu
      %span.pop メンバーリスト
      #member__btn
        =icon('fas', 'users')
        %ul#member__name
          - @calendar.users.each do |user|
            %li
              = link_to user.name, '#'