.calendarPage
  .calendarPage__title
    %h3 カレンダー編集
    .back__btn
      = link_to "戻る", :back 
  .calendarPage__form
    = form_with model: @calendar, local: true do |f|
      - if @calendar.errors.any?
        = render "calendars/error_messages"
      .formField
        .formField__label
          = f.label :name, 'カレンダー名'
        .formField__input
          = f.text_field :name,  placeholder: 'カレンダー名を入力してください'
          
      .formField
        .fromField__label
          = f.label :user_ids, 'カレンダーを共有したいメンバーを選択してください'
        .formField__input
          = f.collection_check_boxes :user_ids, User.all, :id, :name

      = f.submit "更新"