.main
  = render "header"
  = render "menu"
  = render "plans/new"

.main__contents{class: "d-flex justify-content-around"}
  #side__bar{class: "border-right"}
    = render "plans/index"
  #side__bar--second{class: "border-right"}
    = render "comments/index"
  #main__calendar
    = render "calendar"