.main
  = render "header"
  = render "menu"
  = render  partial: "events/new", locals: { calendar: @calendar }
  = render  partial: "events/edit", locals: { calendar: @calendar }

.main__contents{class: "d-flex justify-content-around"}
  #side__bar{class: "border-right"}
    = render "events/index"
  #side__bar--second{class: "border-right"}
    = render "comments/index"

  #main__calendar
    = month_calendar events: @events do |date, events|
      .day__num
        = date.day
      - if HolidayJp.holiday?(Date.new(date.year, date.month, date.day))
      - holidays = HolidayJp.between(Date.new(date.year, date.month, date.day), Date.new(date.year, date.month, date.day))
        .holiday= holidays[0].name
      - events.each do |event|
        .event{class: "event-#{event.id}"}
          =event.title