.main
  = render "header"
  = render "menu"
  = render  partial: "events/new", locals: { calendar: @calendar }
  = render  partial: "events/edit", locals: { calendar: @calendar }

.main__contents
  #side__bar
    = render "events/index"
  #side__bar--second
    = render "comments/index"

  #main__calendar
    #calendar{data: {"turbolinks":"false"}}