.main
  = render "header"
  = render "menu"
  = render "events/new"
  = render "events/edit"

.main__contents{data: {"turbolinks":"false"}}
  #side__bar
    = render "comments/index"

  #main__calendar
    #calendar